.App {
  text-align: right;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.fondoItem {
  text-align: center;
  font-size: 5rem;
}

.carritoNav{
  width: 3rem;
}

.fondoItem2 {
  text-align: center;
  font-size: 1.5rem;
}

.imgProducto{
  width: 300px;
  height: 250px;
}

.nombresProductos{
  color: black;
  text-align: center;
}
